BasedOnStyle: Microsoft
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: Never
AccessModifierOffset: -4
IndentAccessModifiers: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortBlocksOnASingleLine: false
